.whatsapp{
    ul{
        margin: 0;
        padding: 10px;
    }
    ul > li{
        list-style-type: none;
        margin: 5px;
    }
}

.user1{
    background-color: pink;
}

.user2{
    background-color: lime;
    text-align: right;
}