.App{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.messsagingConfig{
  max-width: 800px;
}

.profile-image{
  border-radius: 50%;
  width: 32px;
  height: 30px; 
  background-color: grey;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}